.jumbotron {
    background-color: #C8CCC9;
    color: #646466;
    text-align:center;
    margin-bottom:0px;
}
body{
    background-color: #C8CCC9;
}

nav{
    margin-top:0px;
}

h1{
    font-family: 'Oxygen', sans-serif; 
    letter-spacing: 10px;
    font-size: 10px;
    margin-bottom:-15px;     
}
h2{
   font-family: 'La Belle Aurore', cursive;    
   margin-top:-15px;
}
div.feature{
    padding: 0px;
}

div.feature{
    background-size: cover;
    background-position:center;

}

.row .thumbnail{
    margin-bottom: 0px;
    /*width:290px;
    height:290px;*/    
}
/*.row .thumbnail img{
    width: 100%;
    height:auto;
    background-size:cover;
}*/

.page-header{
    background-color: #DEE1E3;
    color: #646466;
    line-height: 20px;
    margin-top: 0px;
}
.btn{
    margin-top:300px;
    margin-bottom: 300px;
    margin-left:auto;
    margin-right:auto;
}