.jumbotron {
    background-color: #C8CCC9;
    color: #646466;
    text-align:center;
    margin-bottom:0px;
}
body{
    background-color: #C8CCC9;
    
}

nav{
    margin-top:0px;
}

h1{
    font-family: 'Oxygen', sans-serif; 
    letter-spacing: 10px;
    font-size: 10px;
    margin-bottom:-15px;     
}
h2{
   font-family: 'La Belle Aurore', cursive;    
   margin-top:-15px;
}
div.feature{
    padding: 0px;
}

div.feature{
    background-size: cover;
    background-position:center;
}

.row .thumbnail{
    margin-bottom: 0px;        
}

.page-header{
    background-color: #DEE1E3;
    color: #646466;
    line-height: 20px;
    margin-top: 0px;
}
.btn-primary{
    margin-top:300px;
    margin-bottom:300px;
    margin-left:auto;
    margin-right:auto;
    float:right;       
}
.caption{
    background-color:dimgray;    
    text-align:center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    opacity: 0.6;
    filter: alpha(opacity=60);    
}
.caption h3{    
     color:#000000;
     font-weight:bold;
}
.textbox1{    
    background-color:white;
    width:300px;
    height: 222px;
}
.textbox2{
   
    background-color:#6BD4BD;
    height:300px;
    height: 222px;
}

.caption1{
    color:#191717;
    text-align:center;
}